---
layout: default
---

<div class="home">

  <h1 class="page-heading"></h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      {% if post.link %}
      <h2><a class="post-link" href="{{ post.link }}">> {{ post.title }}</a></h2> 
<div class="content">{{ post.content }}</div>
      <a class="permalink" title="Permanent link to ‘{{ post.title }}’" href="{{ post.url }}">Ω</a></li>
      {% else %}
      <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
      <div class="content">{{ post.content }}</div>
    </li>
      {% endif %}
  {% endfor %}
  </ul>

</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer</a>
  {% else %}
    <span>&laquo; Newer</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a>
  {% else %}
    <span>Older &raquo;</span>
  {% endif %}
</div>
{% endif %}