---
layout: post
title: Twenty One - content blocker for age verification 
date: 2015-11-20 21:08:54 -0500
tags: 
- iOS app
- Content blocker
---
When content blocking apps were first released for iOS 9, they were of the type that most would expect: all-in-one apps that in theory would block all the bad and none of the good.[^151115061519] As I expected, developers are now starting to release apps with narrower functionality aimed at a specific task that can be used in addition to a main blocker. [Image Blocker](https://itunes.apple.com/us/app/image-blocker-browse-web-faster/id1031388281?mt=8&uo=4&at=11l4RT) blocks images only, thereby speeding up browsing of text only and saving on limited data cap plans. 

My new favorite is [Twenty One](https://itunes.apple.com/us/app/twenty-one-block-age-gates/id1059178930?ls=1&mt=8&at=10l73r) by Greg Fiumara, the developer of Tappd That, a beer tracking app. [Twenty One](https://itunes.apple.com/us/app/twenty-one-block-age-gates/id1059178930?ls=1&mt=8&at=10l73r) is designed to disable the age verification screens some brewery websites use. It gets its block list from the developers server from an [open source list hosted on GitHub](https://github.com/gfiumara/TwentyOne). I've already updated it with a few rules for some of my local breweries: [Devil's Backbone](http://dbbrewingcompany.com/) and [St. George](http://www.stgbeer.com). 

[^151115061519]: With variable amounts of minor customization. 